@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

.player{
  padding-top:15rem;
  padding-bottom:15rem;
}

.container-wrap, .project-title {
        padding-right: 4rem;
}

.row .col img:not([srcset]) {
        width: 50%;
}

.bar {
  background: white;
  background: rgb(255, 255, 255);
  position: fixed;
  bottom: -50px;
  -webkit-animation: up 300ms 500ms forwards;
          animation: up 300ms 500ms forwards;
  width: 100%;
  height: 48px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  z-index: 2;
}

 .player_inner__middle .cube,  .player_inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}

 .player_inner__middle .cube_inner > div {
  width: 380px;
  height: 380px;
  background: #b8b8b8;
  position: absolute;
  transform-style: preserve-3D;
}

 .player_inner {
  background: #3a4e47;
  width: 380px;
  height: 640px;
  border-radius: 6px;
  perspective: 800px;
}
 .player_inner__top {
  height: 70px;
  padding: 24px;
  background-size: 103% !important;
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

 .player_inner__middle {
  position: relative;
  height: 380px;
  background: #40555f;
  box-shadow: 0px 0px 110px #181f23 inset;
}

 .player_inner__middle .cube_inner {
  height: 380px;
  transform-style: preserve-3D;
}
 .player_inner__middle .cube_inner__front .bars {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotatez(180deg);
  width: 100%;
  z-index: 1;
}
 .player_inner__middle .cube_inner__front .bars_bar {
  width: 10px;
  background: white;
  opacity: 0.1;
  float: left;
  width: 10%;
}
.cube_inner__front {
  background-size: 100% !important; 
  /* background-size: contain !important; */
  
  /* background-position-y: -71px !important; */
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(1) {
  -webkit-animation: eq 1s 16ms infinite ease-in-out;
          animation: eq 1s 16ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(2) {
  -webkit-animation: eq 1s 44ms infinite ease-in-out;
          animation: eq 1s 44ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(3) {
  -webkit-animation: eq 1s 36ms infinite ease-in-out;
          animation: eq 1s 36ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(4) {
  -webkit-animation: eq 1s 28ms infinite ease-in-out;
          animation: eq 1s 28ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(5) {
  -webkit-animation: eq 1s 35ms infinite ease-in-out;
          animation: eq 1s 35ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(6) {
  -webkit-animation: eq 1s 186ms infinite ease-in-out;
          animation: eq 1s 186ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(7) {
  -webkit-animation: eq 1s 210ms infinite ease-in-out;
          animation: eq 1s 210ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(8) {
  -webkit-animation: eq 1s 232ms infinite ease-in-out;
          animation: eq 1s 232ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(9) {
  -webkit-animation: eq 1s 297ms infinite ease-in-out;
          animation: eq 1s 297ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(10) {
  -webkit-animation: eq 1s 140ms infinite ease-in-out;
          animation: eq 1s 140ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(11) {
  -webkit-animation: eq 1s 253ms infinite ease-in-out;
          animation: eq 1s 253ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(12) {
  -webkit-animation: eq 1s 72ms infinite ease-in-out;
          animation: eq 1s 72ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(13) {
  -webkit-animation: eq 1s 247ms infinite ease-in-out;
          animation: eq 1s 247ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(14) {
  -webkit-animation: eq 1s 448ms infinite ease-in-out;
          animation: eq 1s 448ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(15) {
  -webkit-animation: eq 1s 15ms infinite ease-in-out;
          animation: eq 1s 15ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(16) {
  -webkit-animation: eq 1s 352ms infinite ease-in-out;
          animation: eq 1s 352ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(17) {
  -webkit-animation: eq 1s 85ms infinite ease-in-out;
          animation: eq 1s 85ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(18) {
  -webkit-animation: eq 1s 486ms infinite ease-in-out;
          animation: eq 1s 486ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(19) {
  -webkit-animation: eq 1s 494ms infinite ease-in-out;
          animation: eq 1s 494ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(20) {
  -webkit-animation: eq 1s 400ms infinite ease-in-out;
          animation: eq 1s 400ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(21) {
  -webkit-animation: eq 1s 126ms infinite ease-in-out;
          animation: eq 1s 126ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(22) {
  -webkit-animation: eq 1s 792ms infinite ease-in-out;
          animation: eq 1s 792ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(23) {
  -webkit-animation: eq 1s 138ms infinite ease-in-out;
          animation: eq 1s 138ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(24) {
  -webkit-animation: eq 1s 72ms infinite ease-in-out;
          animation: eq 1s 72ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(25) {
  -webkit-animation: eq 1s 325ms infinite ease-in-out;
          animation: eq 1s 325ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(26) {
  -webkit-animation: eq 1s 1014ms infinite ease-in-out;
          animation: eq 1s 1014ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(27) {
  -webkit-animation: eq 1s 756ms infinite ease-in-out;
          animation: eq 1s 756ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(28) {
  -webkit-animation: eq 1s 560ms infinite ease-in-out;
          animation: eq 1s 560ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(29) {
  -webkit-animation: eq 1s 899ms infinite ease-in-out;
          animation: eq 1s 899ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(30) {
  -webkit-animation: eq 1s 1140ms infinite ease-in-out;
          animation: eq 1s 1140ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(31) {
  -webkit-animation: eq 1s 806ms infinite ease-in-out;
          animation: eq 1s 806ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(32) {
  -webkit-animation: eq 1s 192ms infinite ease-in-out;
          animation: eq 1s 192ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(33) {
  -webkit-animation: eq 1s 792ms infinite ease-in-out;
          animation: eq 1s 792ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(34) {
  -webkit-animation: eq 1s 306ms infinite ease-in-out;
          animation: eq 1s 306ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(35) {
  -webkit-animation: eq 1s 1365ms infinite ease-in-out;
          animation: eq 1s 1365ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(36) {
  -webkit-animation: eq 1s 36ms infinite ease-in-out;
          animation: eq 1s 36ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(37) {
  -webkit-animation: eq 1s 518ms infinite ease-in-out;
          animation: eq 1s 518ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(38) {
  -webkit-animation: eq 1s 1254ms infinite ease-in-out;
          animation: eq 1s 1254ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(39) {
  -webkit-animation: eq 1s 975ms infinite ease-in-out;
          animation: eq 1s 975ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(40) {
  -webkit-animation: eq 1s 200ms infinite ease-in-out;
          animation: eq 1s 200ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(41) {
  -webkit-animation: eq 1s 1025ms infinite ease-in-out;
          animation: eq 1s 1025ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(42) {
  -webkit-animation: eq 1s 630ms infinite ease-in-out;
          animation: eq 1s 630ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(43) {
  -webkit-animation: eq 1s 1634ms infinite ease-in-out;
          animation: eq 1s 1634ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(44) {
  -webkit-animation: eq 1s 396ms infinite ease-in-out;
          animation: eq 1s 396ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(45) {
  -webkit-animation: eq 1s 1395ms infinite ease-in-out;
          animation: eq 1s 1395ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(46) {
  -webkit-animation: eq 1s 874ms infinite ease-in-out;
          animation: eq 1s 874ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(47) {
  -webkit-animation: eq 1s 658ms infinite ease-in-out;
          animation: eq 1s 658ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(48) {
  -webkit-animation: eq 1s 1632ms infinite ease-in-out;
          animation: eq 1s 1632ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(49) {
  -webkit-animation: eq 1s 1029ms infinite ease-in-out;
          animation: eq 1s 1029ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(50) {
  -webkit-animation: eq 1s 600ms infinite ease-in-out;
          animation: eq 1s 600ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(51) {
  -webkit-animation: eq 1s 357ms infinite ease-in-out;
          animation: eq 1s 357ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(52) {
  -webkit-animation: eq 1s 1664ms infinite ease-in-out;
          animation: eq 1s 1664ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(53) {
  -webkit-animation: eq 1s 954ms infinite ease-in-out;
          animation: eq 1s 954ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(54) {
  -webkit-animation: eq 1s 1512ms infinite ease-in-out;
          animation: eq 1s 1512ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(55) {
  -webkit-animation: eq 1s 825ms infinite ease-in-out;
          animation: eq 1s 825ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(56) {
  -webkit-animation: eq 1s 392ms infinite ease-in-out;
          animation: eq 1s 392ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(57) {
  -webkit-animation: eq 1s 627ms infinite ease-in-out;
          animation: eq 1s 627ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(58) {
  -webkit-animation: eq 1s 2204ms infinite ease-in-out;
          animation: eq 1s 2204ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(59) {
  -webkit-animation: eq 1s 1770ms infinite ease-in-out;
          animation: eq 1s 1770ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(60) {
  -webkit-animation: eq 1s 2280ms infinite ease-in-out;
          animation: eq 1s 2280ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(61) {
  -webkit-animation: eq 1s 793ms infinite ease-in-out;
          animation: eq 1s 793ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(62) {
  -webkit-animation: eq 1s 310ms infinite ease-in-out;
          animation: eq 1s 310ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(63) {
  -webkit-animation: eq 1s 1638ms infinite ease-in-out;
          animation: eq 1s 1638ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(64) {
  -webkit-animation: eq 1s 1152ms infinite ease-in-out;
          animation: eq 1s 1152ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(65) {
  -webkit-animation: eq 1s 1430ms infinite ease-in-out;
          animation: eq 1s 1430ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(66) {
  -webkit-animation: eq 1s 792ms infinite ease-in-out;
          animation: eq 1s 792ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(67) {
  -webkit-animation: eq 1s 2010ms infinite ease-in-out;
          animation: eq 1s 2010ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(68) {
  -webkit-animation: eq 1s 1564ms infinite ease-in-out;
          animation: eq 1s 1564ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(69) {
  -webkit-animation: eq 1s 2760ms infinite ease-in-out;
          animation: eq 1s 2760ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(70) {
  -webkit-animation: eq 1s 350ms infinite ease-in-out;
          animation: eq 1s 350ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(71) {
  -webkit-animation: eq 1s 1633ms infinite ease-in-out;
          animation: eq 1s 1633ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(72) {
  -webkit-animation: eq 1s 72ms infinite ease-in-out;
          animation: eq 1s 72ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(73) {
  -webkit-animation: eq 1s 2628ms infinite ease-in-out;
          animation: eq 1s 2628ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(74) {
  -webkit-animation: eq 1s 370ms infinite ease-in-out;
          animation: eq 1s 370ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(75) {
  -webkit-animation: eq 1s 2025ms infinite ease-in-out;
          animation: eq 1s 2025ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(76) {
  -webkit-animation: eq 1s 684ms infinite ease-in-out;
          animation: eq 1s 684ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(77) {
  -webkit-animation: eq 1s 1771ms infinite ease-in-out;
          animation: eq 1s 1771ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(78) {
  -webkit-animation: eq 1s 2574ms infinite ease-in-out;
          animation: eq 1s 2574ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(79) {
  -webkit-animation: eq 1s 1738ms infinite ease-in-out;
          animation: eq 1s 1738ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(80) {
  -webkit-animation: eq 1s 1840ms infinite ease-in-out;
          animation: eq 1s 1840ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(81) {
  -webkit-animation: eq 1s 1377ms infinite ease-in-out;
          animation: eq 1s 1377ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(82) {
  -webkit-animation: eq 1s 1558ms infinite ease-in-out;
          animation: eq 1s 1558ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(83) {
  -webkit-animation: eq 1s 1079ms infinite ease-in-out;
          animation: eq 1s 1079ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(84) {
  -webkit-animation: eq 1s 2856ms infinite ease-in-out;
          animation: eq 1s 2856ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(85) {
  -webkit-animation: eq 1s 1700ms infinite ease-in-out;
          animation: eq 1s 1700ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(86) {
  -webkit-animation: eq 1s 2236ms infinite ease-in-out;
          animation: eq 1s 2236ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(87) {
  -webkit-animation: eq 1s 2088ms infinite ease-in-out;
          animation: eq 1s 2088ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(88) {
  -webkit-animation: eq 1s 2992ms infinite ease-in-out;
          animation: eq 1s 2992ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(89) {
  -webkit-animation: eq 1s 3204ms infinite ease-in-out;
          animation: eq 1s 3204ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(90) {
  -webkit-animation: eq 1s 1440ms infinite ease-in-out;
          animation: eq 1s 1440ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(91) {
  -webkit-animation: eq 1s 910ms infinite ease-in-out;
          animation: eq 1s 910ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(92) {
  -webkit-animation: eq 1s 1656ms infinite ease-in-out;
          animation: eq 1s 1656ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(93) {
  -webkit-animation: eq 1s 3348ms infinite ease-in-out;
          animation: eq 1s 3348ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(94) {
  -webkit-animation: eq 1s 1786ms infinite ease-in-out;
          animation: eq 1s 1786ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(95) {
  -webkit-animation: eq 1s 1045ms infinite ease-in-out;
          animation: eq 1s 1045ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(96) {
  -webkit-animation: eq 1s 2112ms infinite ease-in-out;
          animation: eq 1s 2112ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(97) {
  -webkit-animation: eq 1s 1649ms infinite ease-in-out;
          animation: eq 1s 1649ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(98) {
  -webkit-animation: eq 1s 3136ms infinite ease-in-out;
          animation: eq 1s 3136ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(99) {
  -webkit-animation: eq 1s 3366ms infinite ease-in-out;
          animation: eq 1s 3366ms infinite ease-in-out;
}
 .player_inner__middle .cube_inner__front .bars_bar:nth-of-type(100) {
  -webkit-animation: eq 1s 3500ms infinite ease-in-out;
          animation: eq 1s 3500ms infinite ease-in-out;
}


 .player_inner__bottom {
  height: 190px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

 .player_inner__bottom .playbar {
  width: 100%;
  background: #2c3e38;
  height: 4px;
  position: relative;
  border-radius: 10px;
}
 .player_inner__bottom #playbar_inner {
  position: absolute;
  width: 1%;
  height: 100%;
  border-radius: 10px;
  color: rgb(var(--text-color));
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
 .player_inner__bottom .playbar_left {
  float: left;
  position: relative;
  top: 8px;
}
 .player_inner__bottom .playbar_right {
  position: relative;
  top: 8px;
  float: right;
}
 .player_inner__bottom .playbar span {
  color: white;
  font-size: 15px;
}

@-webkit-keyframes eq {
  0% {
    height: 30px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 30px;
  }
}

@keyframes eq {
  0% {
    height: 30px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 30px;
  }
}
#scroll-container {
  border: 0px solid black;
  border-radius: 5px;
  overflow: hidden;
  width: 330px;

}

.scroll-text {
  text-align: right;
  color: white;
  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 7s linear infinite;
  -webkit-animation: my-animation 7s linear infinite;
  animation: my-animation 7s linear infinite;
}

#bio {
  text-align: center;
  font-size: x-large;
  margin:0.5rem;
  font-family: "Nunito", sans-serif;
  color: #ffffffff;
}
#DJshowLogo {
  background-size: 100% !important; 
  background-size: contain !important; 
  background-repeat: no-repeat !important;
}

.DJimg{
  /* style small DJ image */
  width: 100px;
  height: 100px;
  border-radius: 20%;
  border: 2px solid #44f5b7;
  /* center image */
  margin: 0 auto;
  display: block;
}

#DJname{
  /* style DJ name */
  text-align: center;
  font-size: x-large;
  margin:0.5rem;
  font-family: "Nunito", sans-serif;
}
/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
#DJ_button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: inset(0 round 50%);
        margin: 0 auto;
        margin-bottom: 0.5rem;
        min-width: 300px;
        min-height: 60px;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        color: #313133;
        background: #4FD1C5;
        background: linear-gradient(90deg, #8224E3 0%, #F84F85 100%);
        border: none;
        border-radius: 1000px;
        box-shadow: 12px 12px 24px #25afb8;
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        outline: none;
        position: relative;
}

#DJ_button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

#DJ_button:hover, #DJ_button:focus {
color: #313133;
transform: translateY(-6px);
}

#DJ_button:hover::before, #DJ_button:focus::before {
opacity: 1;
}

#DJ_button::after {
content: '';
width: 30px; height: 30px;
border-radius: 100%;
border: 6px solid #00FFCB;
position: absolute;
z-index: -1;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
animation: ring 1.5s infinite;
}

#DJ_button:hover::after, #DJ_button:focus::after {
 animation: none;
 display: none;
 }

 @keyframes ring {
 0% {
        width: 30px;
        height: 30px;
        opacity: 1;
 }
 100% {
        width: 300px;
        height: 300px;
        opacity: 0;
 }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#songTimer{
  color: white;
  text-align: center; 
  font-size: 14px; 
  font-family: Open Sans, sans-serif;
}

